/* Estilo do corpo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa; /* Cor de fundo mais suave */
  font-family: 'Arial', sans-serif;
  margin: 0; /* Remove qualquer margem padrão */
}

/* Container de login */
.login-container {
  background-color: #fff;
  padding: 30px; /* Mais espaçamento interno para melhorar a legibilidade */
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave e intensa */
  text-align: center;
  width: 100%;
  max-width: 400px; /* Tamanho máximo para manter o container responsivo */
}

/* Logo dentro do container de login */
.login-container img {
  max-width: 100px;
  margin-bottom: 20px; /* Distância entre a imagem e o título */
}

/* Título do login */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333; /* Cor de texto mais escura */
  font-weight: 600;
}

/* Formulário de login */
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaço uniforme entre os campos */
}

/* Estilo dos divs dentro do formulário */
.login-container form div {
  text-align: left;
}

/* Labels */
.login-container label {
  font-size: 14px;
  color: #555; /* Cor mais suave para os labels */
  display: block;
  margin-bottom: 8px;
}

/* Campos de entrada (input) */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 16px; /* Padding igual dos dois lados (horizontal) */
  border: 1px solid #ddd; /* Bordas mais suaves */
  border-radius: 6px; /* Bordas ligeiramente arredondadas */
  font-size: 16px; /* Tamanho de fonte maior para facilitar a leitura */
  background-color: #fafafa; /* Cor de fundo mais clara para os campos */
  box-sizing: border-box; /* Inclui o padding e borda no cálculo do tamanho */
  transition: border-color 0.3s ease; /* Transição suave ao focar no campo */
}

/* Efeito ao focar nos campos de entrada */
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #007bff; /* Cor do foco mais marcante */
  outline: none; /* Remove o contorno padrão do foco */
}

/* Botão de login */
.login-container button {
  padding: 12px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito de hover no botão */
.login-container button:hover {
  background-color: #0056b3;
}

/* Link de "esqueci minha senha" */
.login-container a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.login-container a:hover {
  text-decoration: underline;
}

.logo_img {
  display: block;
  margin: 0 auto 20px;
  width: 300px; /* Ajuste a largura conforme necessário */
  height: auto; /* Mantém a proporção da imagem */

}
.login-container {
  text-align: center; 
}