{% extends 'global/base.html' %}
{% block content %}
<h2>Abrir Chamado</h2>

<form method="post" action="{% url 'contact:abrir_chamado' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Criar Chamado</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const areaField = document.getElementById('id_area_chamado');
        const tarefaField = document.getElementById('id_tarefa');
    
        areaField.addEventListener('change', function () {
            const area = this.value;
   
            fetch(`/contact/tarefas/?area=${area}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao carregar tarefas: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    tarefaField.innerHTML = '<option value="" selected disabled>Selecione a tarefa</option>';
                    data.forEach(tarefa => {
                        const option = document.createElement('option');
                        option.value = tarefa.id;
                        option.text = tarefa.descricao;
                        tarefaField.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro ao carregar tarefas:', error);
                });
        });
    });
</script>

{% endblock %}
