{% extends 'global/base.html' %}
{% load static %}

{% block title %}CADASTROS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/table_responsive.css' %}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="card">
            <a href="{% url 'contact:empresas_view' %}" class="full-card-link">
                <i class='bx bx-building'></i>
                <ul class="card-list">
                    <li><strong>Adicionar empresa</strong></li>
                </ul>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'contact:list_user' %}" class="full-card-link">
                <i class='bx bx-building'></i>
                <ul class="card-list">
                    <li><strong>Usuários</strong></li>
                </ul>
            </a>
        </div>
    </div>
{% endblock %}