{% extends 'global/base.html' %}
{% load static %}

{% block title %}CONFIGURAÇÕES{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/table_responsive.css' %}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="card">
        <a href="{% url 'contact:listar_areas' %}" class="full-card-link">
            <i class='bx bxs-edit-alt'></i>
            <ul class="card-list">
                <li><strong>Listar Areas</strong></li>
            </ul>
        </a>
    </div>
    <div class="card">
        <a href="{% url 'contact:listar_tarefas' %}" class="full-card-link">
            <i class='bx bxs-objects-horizontal-left'></i>
            <ul class="card-list">
                <li><strong>Listar Tarefa</strong></li>
            </ul>
        </a>
    </div>
    {% for area in areas %}
        <div class="card">
            <i class='bx bxs-edit-alt'></i>
            <a href="{% url 'contact:area_details' area.id %}">{{ area.nome }}</a>
            <li><strong>Descrição:</strong> {{ area.descricao }}</li>
        </div>
    {% endfor %}
    {% for tarefa in tarefas %}
        <div class="card">
            <i class='bx bxs-objects-horizontal-left'></i>
            <a href="{% url 'contact:tarefa_details' tarefa.id %}">{{ tarefa.titulo }}</a>
            <li><strong>Status:</strong> {{ tarefa.status }}</li>
        </div>
    {% endfor %}
</div>
{% endblock %}
