{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/responsive_form.css' %}">
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="card">
      <h1>Criar Tarefa</h1>
      <form method="post" class="form-adicionar-empresa">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_empresa">Empresa:</label>
          {{ form.empresa }}
        </div>
        <div class="form-group">
          <label for="id_area">Área:</label>
          {{ form.area }}
        </div>
        <div class="form-group">
          <label for="id_descricao">Descrição:</label>
          {{ form.descricao }}
        </div>
        <div class="form-group button-group">
          <button type="submit" class="btn btn-primary">Adicionar Detalhe</button>
          <a href="{% url 'contact:listar_tarefas' %}" class="btn btn-secondary">Voltar</a>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var empresaSelect = document.getElementById('id_empresa');
        var areaSelect = document.getElementById('id_area');
        
        empresaSelect.addEventListener('change', function () {
            var empresaId = empresaSelect.value;
            var url = "{% url 'contact:ajax_load_areas' %}";  // URL que retorna as áreas via AJAX
            var params = new URLSearchParams({ 'empresa_id': empresaId });

            fetch(`${url}?${params}`)
                .then(response => response.json())
                .then(data => {
                    areaSelect.innerHTML = '<option value="" selected="selected">---------</option>';
                    data.forEach(function (area) {
                        var option = document.createElement('option');
                        option.value = area.id;
                        option.textContent = area.nome;
                        areaSelect.appendChild(option);
                    });
                });
        });
    });
  </script>
{% endblock %}
