
{% extends 'contact/visualizar_chamado.html' %}

{% block content %}
    <div id="detalhe_tarefa">
        <h1>Detalhes da Tarefa - {{ detalhe_tarefa.descricao }}</h1>
        <h2>Chamado #{{ chamado.numero_ordem }}</h2>

        {% if detalhe_preenchido %}
            <p><strong>Detalhe Tarefa:</strong> {{ detalhe_preenchido.detalhe_tarefa }}</p>
            <p><strong>Chamado:</strong> {{ detalhe_preenchido.chamado }}</p>
            <p><strong>Usuário:</strong> {{ detalhe_preenchido.usuario }}</p>
            <p><strong>Fotos Clientes:</strong> 
                {% if detalhe_preenchido.fotos_clientes %}
                    <img src="{{ detalhe_preenchido.fotos_clientes.url }}" alt="Foto Clientes" style="max-width: 200px; max-height: 200px;">
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p><strong>Fotos Ajustes:</strong> 
                {% if detalhe_preenchido.fotos_ajustes %}
                    <img src="{{ detalhe_preenchido.fotos_ajustes.url }}" alt="Foto Ajustes" style="max-width: 200px; max-height: 200px;">
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p><strong>Observação:</strong> {{ detalhe_preenchido.observacao }}</p>
            <p><strong>Concluído:</strong> {{ detalhe_preenchido.concluido|yesno:"Sim,Não" }}</p>
        {% else %}
            <p>Não há detalhes preenchidos para esta tarefa.</p>
        {% endif %}
        {% if user.tipo_usuario != 'manager'  %}
        <a href="{% url 'contact:detalhe_tarefa_edit' chamado.id tarefa.id detalhe_tarefa.id %}" class="btn ajax-link">Editar</a>
        {% endif %}

        <a href="{% url 'contact:load_tarefas_a_realizar' chamado.id %}">Voltar para Tarefas a Realizar</a>
    </div>

{% endblock %}