{% extends 'contact/visualizar_chamado.html' %}

{% block content %}

<div>
    <h3>Detalhes da Tarefa - {{ detalhe_tarefa.descricao }}</h3>

    <form method="post" enctype="multipart/form-data" action="{% url 'contact:detalhe_tarefa_edit' chamado.id tarefa.id detalhe_tarefa.id %}">
        {% csrf_token %}
        <div class="sub-container">
            <div class="form-group">
                <label for="id_fotos_clientes">Fotos antes Ajustes</label>
                <input type="file" name="fotos_clientes" id="id_fotos_clientes" class="form-control-file" multiple accept="image/*">
                {% if detalhe_preenchido %}
                    <p>Fotos antes Ajustes:</p>
                    <div id="image-gallery">
                        {% for imagem in imagens_clientes %}
                            <div style="display: inline-block; position: relative; margin-right: 10px;">
                                <a href="{{ imagem.imagem.url }}" target="_blank">
                                    <img src="{{ imagem.imagem.url }}" alt="Foto Cliente" style="width: 100px; height: auto;">
                                </a>
                                <button type="button" class="delete-image-btn" data-id="{{ imagem.id }}" style="position: absolute; top: 5px; right: 5px; background-color: transparent; border: none; color: red; font-size: 20px; font-weight: bold; cursor: pointer;">&times;</button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="sub-container">
            <div class="form-group">
                <label for="id_fotos_ajustes">Fotos Ajustes</label>
                <input type="file" name="fotos_ajustes" id="id_fotos_ajustes" class="form-control-file" multiple accept="image/*">
                {% if detalhe_preenchido %}
                <p>Fotos Ajustes:</p>
                <div class="image-gallery">
                    {% for imagem in imagens_ajustes %}
                        <div style="display: inline-block; position: relative; margin-right: 10px;">
                            <a href="{{ imagem.imagem.url }}" target="_blank">
                                <img src="{{ imagem.imagem.url }}" alt="Foto Ajuste" style="width: 100px; height: auto;">
                            </a>
                            <button type="button" class="delete-image-btn" data-id="{{ imagem.id }}" style="position: absolute; top: 5px; right: 5px; background-color: transparent; border: none; color: red; font-size: 20px; font-weight: bold; cursor: pointer;">&times;</button>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="sub-container">
            <div class="form-group">
                <label for="id_observacao">Observação</label>
                <textarea name="observacao" id="id_observacao" class="form-control sub-container" rows="4">{% if detalhe_preenchido and detalhe_preenchido.observacao %}{{ detalhe_preenchido.observacao }}{% endif %}</textarea>
            </div>
        </div>
        
        <div class="sub-container">
            <div class="form-group">
                <label for="id_concluido">Concluído</label>
                <input type="checkbox" name="concluido" id="id_concluido" class="form-check-input" {% if detalhe_preenchido and detalhe_preenchido.concluido %}checked{% endif %}>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <button type="button" onclick="location.href='{% url 'contact:load_tarefas_a_realizar' chamado.id %}'" class="btn btn-secondary" id="voltar_link">Voltar para Tarefas a Realizar</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputClientes = document.getElementById('id_fotos_clientes');
        const inputAjustes = document.getElementById('id_fotos_ajustes');

        // Função para limitar o número de arquivos
        function limitarArquivos(input) {
            input.addEventListener('change', function () {
                if (this.files.length > 5) {
                    alert('Você pode selecionar no máximo 5 fotos.');
                    this.value = ''; // Limpa o campo
                }
            });
        }

        limitarArquivos(inputClientes);
        limitarArquivos(inputAjustes);

        // Função para excluir imagem
        document.querySelectorAll('.delete-image-btn').forEach(button => {
            button.addEventListener('click', function () {
                const imageId = this.getAttribute('data-id');
                const csrfToken = '{{ csrf_token }}';

                fetch(`{% url 'contact:excluir_imagem' 0 %}`.replace('0', imageId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ 'image_id': imageId })
                })
                .then(response => {
                    if (response.ok) {
                        this.closest('div').remove(); // Remove o contêiner da imagem do DOM
                    } else {
                        alert('Erro ao excluir a imagem.');
                    }
                });
            });
        });
    });
</script>

{% endblock %}
