{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/responsive_form.css' %}">
{% endblock %}

{% block content %}
    <div class="cards-container">
        <h1>Detalhes da Área: {{ area.nome }}</h1>
        {% for descricao in descricoes %}
        <div class="card">
            <p>{{ descricao.descricao }}</p>
        </div>
        {% empty %}
        <div class="card">
            <p>Nenhuma descrição encontrada para esta área.</p>
        </div>
        {% endfor %}
        <div class="card">
            <div class="form-group button-group">
                <a href="{%url 'contact:listar_tarefas' %}" class="btn btn-primary"> Criar Tarefa</a>
                <a href="{% url 'contact:listar_areas' %}" class="btn btn-secondary">Voltar para a lista de áreas</a>
            </div>
        </div>
    </div>
  
{% endblock %}


