<head>
    <!-- Outros cabeçalhos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div>
    <h1>Editar Detalhes da Tarefa - {{ detalhe_tarefa.descricao }}</h1>
    <h2>Chamado #{{ chamado.numero_ordem }}</h2>

    <form id="detalhe-tarefa-form" method="post" enctype="multipart/form-data" action="{% url 'contact:detalhe_tarefa_edit' chamado.id tarefa.id detalhe_tarefa.id %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_fotos_clientes">Fotos Clientes</label>
            <input type="file" name="fotos_clientes" id="id_fotos_clientes" class="form-control-file" multiple>
            {% if detalhe_preenchido %}
                <p>Fotos Cliente:</p>
                <div class="image-gallery">
                    {% for imagem in imagens_clientes %}
                        <a href="{{ imagem.imagem.url }}" target="_blank">
                            <img src="{{ imagem.imagem.url }}" alt="Foto Cliente" style="width: 100px; height: auto; margin-right: 10px;">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_fotos_ajustes">Fotos Ajustes</label>
            <input type="file" name="fotos_ajustes" id="id_fotos_ajustes" class="form-control-file" multiple>
            {% if detalhe_preenchido %}
                <p>Fotos Ajustes:</p>
                <div class="image-gallery">
                    {% for imagem in imagens_ajustes %}
                        <a href="{{ imagem.imagem.url }}" target="_blank">
                            <img src="{{ imagem.imagem.url }}" alt="Foto Ajuste" style="width: 100px; height: auto; margin-right: 10px;">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_observacao">Observação</label>
            <textarea name="observacao" id="id_observacao" class="form-control" rows="4">{% if detalhe_preenchido and detalhe_preenchido.observacao %}{{ detalhe_preenchido.observacao }}{% endif %}</textarea>
        </div>

        <div class="form-group">
            <label for="id_concluido">Concluído</label>
            <input type="checkbox" name="concluido" id="id_concluido" class="form-check-input" {% if detalhe_preenchido and detalhe_preenchido.concluido %}checked{% endif %}>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <a href="{% url 'contact:load_tarefas_a_realizar' chamado.id %}" class="btn btn-secondary">Voltar para Tarefas a Realizar</a>
</div>

<script>
    $(document).ready(function() {
        $('#detalhe-tarefa-form').on('submit', function(event) {
            event.preventDefault();
            console.log('Formulário enviado'); 
            var formData = new FormData(this);
            $.ajaxSetup({
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            });
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.success) {
                        console.log('Sucesso ajax:', response.success);
                        alert(response.message);
                        $('#dynamic-content2').load("{% url 'contact:load_tarefas_a_realizar' chamado.id %} #tarefas-a-realizar");
                    } else {
                        var errors = response.errors;
                        for (var field in errors) {
                            alert(field + ': ' + errors[field].join(', '));
                        }
                    }
                },
                error: function(xhr, status, error) {
                    alert('Ocorreu um erro ao processar a requisição. Tente novamente.');
                }
            });
        });
    });
</script>
