<div id="detalhe_tarefa">
    <h1>{% if edit_mode %}Editar{% else %}Detalhes{% endif %} da Tarefa - {{ detalhe_tarefa.descricao }}</h1>
    <h2>Chamado #{{ chamado.numero_ordem }}</h2>

    {% if edit_mode %}
        <form id="detalhe-tarefa-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'contact:detalhe_tarefa' chamado.id tarefa.id detalhe_tarefa.id %}" class="btn ajax-link">Cancelar</a>
    {% else %}
        {% if detalhe_preenchido %}
            <p><strong>Detalhe Tarefa:</strong> {{ detalhe_preenchido.detalhe_tarefa }}</p>
            <p><strong>Chamado:</strong> {{ detalhe_preenchido.chamado }}</p>
            <p><strong>Usuário:</strong> {{ detalhe_preenchido.usuario }}</p>
            <p><strong>Fotos Clientes:</strong> {% if detalhe_preenchido.fotos_clientes %}<img src="{{ detalhe_preenchido.fotos_clientes.url }}" alt="Foto Clientes" style="max-width: 200px; max-height: 200px;">{% else %}N/A{% endif %}</p>
            <p><strong>Fotos Ajustes:</strong> {% if detalhe_preenchido.fotos_ajustes %}<img src="{{ detalhe_preenchido.fotos_ajustes.url }}" alt="Foto Ajustes" style="max-width: 200px; max-height: 200px;">{% else %}N/A{% endif %}</p>
            <p><strong>Observação:</strong> {{ detalhe_preenchido.observacao }}</p>
            <p><strong>Concluído:</strong> {{ detalhe_preenchido.concluido|yesno:"Sim,Não" }}</p>
        {% else %}
            <p>Não há detalhes preenchidos para esta tarefa.</p>
        {% endif %}
        {% if user.tipo_usuario != 'manager'  %}
        <a href="{% url 'contact:detalhe_tarefa_edit' chamado.id tarefa.id detalhe_tarefa.id %}" class="btn ajax-link">Editar</a>
        {% endif %}
    {% endif %}
    
    <a href="{% url 'contact:load_tarefas_a_realizar' chamado.id %}" class="ajax-link">Voltar para Tarefas a Realizar</a>
</div>

<script>
    $(document).ready(function() {
        $('#detalhe-tarefa-form').on('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: window.location.href,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = "{% url 'contact:detalhe_tarefa' chamado.id tarefa.id detalhe_tarefa.id %}";
                    } else {
                        var errors = response.errors;
                        for (var field in errors) {
                            alert(errors[field]);
                        }
                    }
                }
            });
        });
    });
</script>