<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentação do Chamado</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { width: 100%; padding: 20px; }
        .header, .footer { text-align: center; margin: 20px 0; }
        .content { margin: 20px 0; }
        .details { border: 1px solid #000; padding: 10px; margin-bottom: 10px; }
        img { width: 100px; height: auto; margin-right: 10px; }
        .image-gallery { display: flex; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Documentação do Chamado: {{ chamado.titulo }}</h1>
        </div>
        <div class="content">
            <p><strong>Descrição:</strong> {{ chamado.descricao }}</p>
            <p><strong>Status:</strong> {{ chamado.status_chamado }}</p>

            <div class="details">
                <h3>Fotos Clientes</h3>
                {% if imagens_clientes %}
                    <div class="image-gallery">
                        {% for imagem in imagens_clientes %}
                            <img src="{{ imagem.imagem.url }}" alt="Foto Cliente">
                        {% endfor %}
                    </div>
                {% else %}
                    <p>N/A</p>
                {% endif %}
            </div>

            <div class="details">
                <h3>Fotos Ajustes</h3>
                {% if imagens_ajustes %}
                    <div class="image-gallery">
                        {% for imagem in imagens_ajustes %}
                            <img src="{{ imagem.imagem.url }}" alt="Foto Ajuste">
                        {% endfor %}
                    </div>
                {% else %}
                    <p>N/A</p>
                {% endif %}
            </div>

            <h2>Detalhes das Tarefas</h2>
            {% for detalhe in detalhes_preenchidos %}
                <div class="details">
                    <p><strong>Tarefa:</strong> {{ detalhe.detalhe_tarefa.descricao }}</p>
                    <p><strong>Usuário:</strong> {{ detalhe.usuario }}</p>
                    <p><strong>Observação:</strong> {{ detalhe.observacao|default:"Nenhuma observação." }}</p>
                    <p><strong>Concluído:</strong> {{ detalhe.concluido|yesno:"Sim,Não" }}</p>

                    <div class="details">
                        <h3>Fotos Clientes</h3>
                        {% if detalhe.fotos_clientes %}
                            <img src="{{ detalhe.fotos_clientes.url }}" alt="Foto Cliente">
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                    </div>

                    <div class="details">
                        <h3>Fotos Ajustes</h3>
                        {% if detalhe.fotos_ajustes %}
                            <img src="{{ detalhe.fotos_ajustes.url }}" alt="Foto Ajuste">
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="footer">
            <p>Generated by My System</p>
        </div>
    </div>
</body>
</html>
