{% extends 'global/base.html' %}
{% load static %}

{% block title %}MTL : Empresa {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/table_responsive.css' %}">
{% endblock %}

{% block content %}
  <div class="grid-container">
    {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' %}
    <div class="card">
      <a href="{% url 'contact:adicionar_empresa' %}">Adicionar Empresa</a>
      <i class='bx bx-alarm-add' ></i>
      <li><strong>Adicionar empresa:</strong></li>
    </div>
    {% endif %}
    {% for empresa in empresas %}
      <div class="card">
        <i class='bx bx-building'></i>
        <a href="{% url 'contact:empresas_details' empresa.id %}">{{ empresa.razao_social }}</a>
        <li><strong>Nome Fantasia:</strong>{{ empresa.nome_fantasia }}</li>
        <li><strong>CNPJ:</strong> {{ empresa.cnpj }}</li>
      </div>
    {% endfor %}
  </div>
{% endblock %}

