{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/responsive_form.css' %}">
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="card">
      <h1 id="razao_social">{{ empresa.razao_social }}</h1>
      <p id="nome_fantasia">Nome Fantasia: {{ empresa.nome_fantasia }}</p>
      <p id="cnpj">CNPJ: {{ empresa.cnpj }}</p>
      <p id="is_estadual">Inscrição Estadual: {{ empresa.is_estadual }}</p>
      <p id="is_municipal">Inscrição Municipal: {{ empresa.is_municipal }}</p>
      <p id="logradouro">Logradouro: {{ empresa.logradouro }}</p>
      <p id="estado">Estado: {{ empresa.get_estado_display }}</p>
      <p id="telefone">Telefone: {{ empresa.telefone }}</p>
      <p id="email_empresa">Email: {{ empresa.email_empresa }}</p>
      <p id="observacao">Observação: {{ empresa.observacao }}</p>
      <p id="prefixo">Prefixo: {{ empresa.prefixo }}</p>
      <p id="filial">Empresa matrix: {{ empresa.filial_de }}</p>
      <div class="form-group button-group">
        <a href="{% url 'contact:edit_empresas' empresa.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'contact:empresas_view' %}" class="btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
{% endblock %}

