{% extends 'contact/visualizar_chamado.html' %}

{% block content %}

    <div class="sub-container">
        <h3>Informações do Chamado</h3>
        <p><strong>Número da Ordem:</strong> {{ chamado.numero_ordem }}</p>
        <p><strong>Título:</strong> {{ chamado.titulo }}</p>
        <p><strong>Descrição:</strong> {{ chamado.descricao }}</p>
        <p><strong>Tipo de Manutenção:</strong> {{ chamado.get_tipo_manutencao_display }}</p>
        <p><strong>Localização da Atividade:</strong> {{ chamado.get_localizacao_atv_display }}</p>
        <p><strong>Prioridade do Chamado:</strong> {{ chamado.get_prioridade_chamado_display }}</p>
        <p><strong>Analista Responsável:</strong> {{ chamado.analista_resp }}</p>

        {% if chamado.area_chamado %}
        <p><strong>Área do Chamado:</strong> {{ chamado.area_chamado.nome }}</p>
        {% endif %}
        
        {% if chamado.tarefa %}
        <p><strong>Tarefa:</strong> {{ chamado.tarefa.descricao }}</p>
        {% endif %}
        
        <p><strong>Local Específico:</strong> {{ chamado.local_especifico }}</p>
        <p><strong>Data de Criação:</strong> {{ chamado.data_criacao }}</p>
        <p><strong>Data de Início:</strong> {{ chamado.data_inicio_atv }}</p>
        <p><strong>Data de Fim:</strong> {{ chamado.data_fim_chamado }}</p>
        {% if user_tipo == 'admin' or user_tipo == 'operador' %}
        <p><strong>Inicio das Atividades:</strong> {{ chamado.data_inicio_atv }}</p>
        <p><strong>Fim das Atividades:</strong> {{ chamado.data_fim_atv }}</p>
        {% endif %}
        {% if imagens %}
        <h4>Imagens do Chamado</h4>
        <div class="chamado-imagens">
            {% for imagem in imagens %}
                <div class="chamado-imagem">
                    <a href="{{ imagem.imagem.url }}" target="_blank">
                        <img src="{{ imagem.imagem.url }}" alt="Imagem do Chamado {{ forloop.counter }}" class="img-thumbnail">
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Nenhuma imagem foi adicionada a este chamado.</p>
        {% endif %}
    </div>

    <div class="sub-container">
        <h3>Informações da Empresa</h3>
        <p><strong>Nome Fantasia:</strong> {{ empresa.nome_fantasia }}</p>
        <p><strong>CNPJ:</strong> {{ empresa.cnpj }}</p>
        <p><strong>Logradouro:</strong> {{ empresa.logradouro }}</p>
        <p><strong>Estado:</strong> {{ empresa.estado }}</p>
        <p><strong>Telefone:</strong> {{ empresa.telefone }}</p>
        <p><strong>Email:</strong> {{ empresa.email_empresa }}</p>
        <p><strong>Observação:</strong> {{ empresa.observacao }}</p>
    </div>

    {% if user_tipo == 'admin' or user_tipo == 'operador' %}
    <div class="sub-container">
        <h3>Informações da Prestadora de Serviço</h3>
        <p><strong>Nome Fantasia:</strong> {{ prestadora_servico.nome_fantasia }}</p>
        <p><strong>CNPJ:</strong> {{ prestadora_servico.cnpj }}</p>
        <p><strong>Logradouro:</strong> {{ prestadora_servico.logradouro }}</p>
        <p><strong>Estado:</strong> {{ prestadora_servico.estado }}</p>
        <p><strong>Telefone:</strong> {{ prestadora_servico.telefone }}</p>
        <p><strong>Email:</strong> {{ prestadora_servico.email_empresa }}</p>
        <p><strong>Observação:</strong> {{ prestadora_servico.observacao }}</p>
    </div>
    {% endif %}

{% endblock %}
