{% extends "global/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/responsive_form.css' %}">
{% endblock %}

{% block content %}
  <div class="cards-container">
    <h1>Detalhes da Tarefa: {{ tarefa.descricao }}</h1>
      {% for detalhe in detalhes %}
        <div class="card">
          <p>{{ detalhe.descricao }}</p>
          </div>
      {% endfor %}
    <div class="card">
      <div class="form-group button-group">
        <a href="{% url 'contact:criar_detalhe_tarefa' tarefa.id %}">Adicionar Detalhe</a>
        <a href="{% url 'contact:listar_tarefas' %}" class="btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
{% endblock %}