{% extends 'contact/visualizar_chamado.html' %}

{% block content %}

<div id="tarefas-a-realizar">
    <ul>
        {% for tarefa in tarefas %}
            <li>
                <h3>Tarefas a Realizar {{ tarefa.descricao }}</h3>
                <ul>
                    {% for detalhe in detalhes_tarefas %}
                        {% if detalhe.tarefa.id == tarefa.id %}
                            <li>
                                <a href="{% url 'contact:detalhe_tarefa' chamado.id tarefa.id detalhe.id %}" class="card-link">
                                    <div class="card">
                                        <span>{{ detalhe.descricao }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% empty %}
                        <li>Sem detalhes disponíveis.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>Sem tarefas disponíveis.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
