{% extends 'global/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/css/responsive_form.css' %}">
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="card">
      <h1 id="id_usuario">Usuário: {{ usuario.first_name }} {{ usuario.last_name }}</h1>
      <p id="email_usuario">Email:  {{ usuario.email }} </p>
      <p id="empresa_usuario">Empresa: {{ usuario.empresa }} </p>
      <p id="telefone_usuario">Telefone: {{ usuario.telefone }} </p>
      <p id="tipo_usuairo">CPF: {{ usuario.cpf }} </p>
      <p id="tipo_usuairo">Tipo usuário: {{ usuario.get_tipo_usuario_display }} </p>
      <div class="form-group button-group">
        <a href="{% url 'contact:edit_user' user_id=usuario.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'contact:list_user' %}" class="btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
{% endblock %}
