{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chamado.numero_ordem }} - {{ chamado.titulo }}</title>
    <link rel="stylesheet" href="{% static 'global/css/chamados.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
</head>
<body>
    <header class="fixed-header">
        <h3>Chamado {{ chamado.numero_ordem }}</h3>
    </header>
    <div class="container content">
        <div class="sidebar">
            <div class="sub-container">
                <h3>Data Abertura:</h3>
                <p id="data_abertura">{{ chamado.data_criacao }}</p>
            </div>
            <div class="sub-container">
                <h3>Data Fechamento:</h3>
                <p id="data_fechamento">
                    {% if chamado.data_fim_chamado %}
                        {{ chamado.data_fim_chamado }}
                    {% else %}
                        Não Concluído
                    {% endif %}
                </p>
            </div>
            <div>
                <a href="{% url 'contact:load_chat' chamado.id %}">
                    <button id="chat">Chat</button>
                </a>
            </div>
            <div>
                <a href="{% url 'contact:load_informacao_chamado' chamado.id %}">
                    <button id="informacao_chamado">Informação do Chamado</button>
                </a>
            </div>
            {% if user.tipo_usuario == 'user' %}
                {% if chamado.status_chamado != 'aberto' %}
                    <div>
                        <a href="{% url 'contact:load_tarefas_a_realizar' chamado.id %}">
                            <button id="tarefas_a_realizar">Tarefas a Realizar</button>
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div>
                    <a href="{% url 'contact:load_tarefas_a_realizar' chamado.id %}">
                        <button id="tarefas_a_realizar">Tarefas a Realizar</button>
                    </a>
                </div>
            {% endif %}
            {% if user.tipo_usuario == 'user' and chamado.status_chamado == 'assinatura' %}
            <div>
                <a href="{% url 'contact:view_signature' chamado_id=chamado.id %}">
                    <button id="signature">Assinatura</button>
                </a>
            </div>
            <div>
                <a href="{% url 'contact:view_signature_tecnico' chamado_id=chamado.id %}">
                    <button id="signature">Assinatura Técnico</button>
                </a>
            </div>
            {% elif user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' or user.tipo_usuario == 'cliente' %}
                {% if chamado.status_chamado == 'assinatura' or chamado.status_chamado == 'concluido' %}
                    <div>
                        <a href="{% url 'contact:view_signature' chamado_id=chamado.id %}">
                            <button id="signature">Assinatura</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'contact:view_signature_tecnico' chamado_id=chamado.id %}">
                            <button id="signature">Assinatura Técnico</button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' %}
                <div>
                    <a href="{% url 'contact:adicionar_prestadora_servico' chamado.id %}">
                        <button id="config_chamado">Configurações</button>
                    </a>
                </div>
            {% endif %}
            
            <div>
                <a href="{% url 'contact:documentacao_chamado' chamado_id=chamado.id %}">
                    <button id="documentacao">Documentação</button>
                </a>
            </div>

            <div>
            {% if user.is_authenticated %}
                {% if chamado.status_chamado != 'concluido' %}
                    {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' %}
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <label for="status_chamado_select">Selecione o Status:</label>
                            <select name="status_chamado" id="status_chamado_select">
                                <option value="aberto" {% if chamado.status_chamado == 'aberto' %}selected{% endif %}>Aberto</option>
                                <option value="executando" {% if chamado.status_chamado == 'executando' %}selected{% endif %}>Executando</option>
                                <option value="assinatura" {% if chamado.status_chamado == 'assinatura' %}selected{% endif %}>Assinatura</option>
                                <option value="concluido" {% if chamado.status_chamado == 'concluido' %}selected{% endif %}>Concluído</option>
                                <option value="rejeitado" {% if chamado.status_chamado == 'rejeitado' %}selected{% endif %}>Rejeitado</option>
                            </select>
                            <button id="atualizar_status" type="submit">Atualizar Status</button>
                        </form>
                    {% elif user.empresa == chamado.prestadora_servico and user.tipo_usuario != 'cliente' %}
                        {% if chamado.status_chamado != 'assinatura' %}
                            <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="status_chamado" value="executando">
                                <button id="executar" type="submit">Executar</button>
                            </form>
                        {% endif %}
                        {% if chamado.status_chamado == 'executando' %}
                            <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="status_chamado" value="assinatura">
                                <button id="concluir" type="submit">Concluir</button>
                            </form>
                        {% endif %}
                    {% elif user.tipo_usuario == 'cliente' %}
                        <p><strong>Status:</strong> <span id="status_chamado">{{ chamado.status_chamado }}</span></p>
                    {% endif %}
                {% else %}
                    {% if user.tipo_usuario == 'admin' %}
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <label for="status_chamado_select">Selecione o Status:</label>
                            <select name="status_chamado" id="status_chamado_select">
                                <option value="aberto" {% if chamado.status_chamado == 'aberto' %}selected{% endif %}>Aberto</option>
                                <option value="executando" {% if chamado.status_chamado == 'executando' %}selected{% endif %}>Executando</option>
                                <option value="assinatura" {% if chamado.status_chamado == 'assinatura' %}selected{% endif %}>Assinatura</option>
                                <option value="concluido" {% if chamado.status_chamado == 'concluido' %}selected{% endif %}>Concluído</option>
                                <option value="rejeitado" {% if chamado.status_chamado == 'rejeitado' %}selected{% endif %}>Rejeitado</option>
                            </select>
                            <button id="atualizar_status" type="submit">Atualizar Status</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>

            <div>
                <button class="back-button" onclick="window.location.href='{% url 'contact:listar_chamados' %}';">Voltar</button>
            </div>
        </div>

        <div class="main-content">
            <div class="sub-container">
                <h3 id="chamado-titulo">Detalhes do Chamado</h3>
                <p id="chamado-titulo">Título: {{ chamado.titulo }}</p>
                <p id="chamado-descricao">Descrição: {{ chamado.descricao }}</p>
                <p id="chamado-tipo-manutencao">Tipo de Manutenção: {{ chamado.tipo_manutencao }}</p>
                <p id="chamado-localizacao">Localização: {{ chamado.localizacao_atv }}</p>
                <p id="chamado-local-especifico">Local Específico: {{ chamado.local_especifico }}</p>
                <p id="chamado-prioridade">Prioridade Chamado: {{ chamado.prioridade_chamado }}</p>
                <p id="chamado-status">Status: {{ chamado.status_chamado }}</p>
            </div>
            <div class="dynamic-content2" id="dynamicContent">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% block extra_js %}{% endblock %}
</body>
</html>
