{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chamado.numero_ordem }} - {{ chamado.titulo }}</title>
    <link rel="stylesheet" href="{% static 'global/css/chamados.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div>
                <h3>Data abertura:</h3>
                <p id="data_abertura">{{ chamado.data_criacao }}</p>
            </div>
            <div>
                <h3>Data fechamento:</h3>
                <p id="data_fechamento">{{ chamado.data_fechamento }}</p>
            </div>
            <div>
                <button id="chat">CHAT</button>
            </div>
            <div>
                <button id="informacao_chamado">INFORMAÇÃO DO CHAMADO</button>
            </div>
            <div>
                <button id="tarefas_a_realizar">Tarefas a realizar</button>
            </div>
            {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' %}
            <div>
                <button id="config_chamado">Configurações</button>
            </div>
            {% endif %}
            <div>
                <p><strong>Status:</strong> <span id="status_chamado">{{ chamado.status_chamado }}</span></p>
            </div>
            <div>
                <p><strong>Prioridade Chamado:</strong> {{ chamado.prioridade_chamado }}</p>
            </div>
            <div>
            {% if user.is_authenticated %}
                {% if chamado.status_chamado != 'concluido' %}
                    {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'operador' %}
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <label for="status_chamado_select">Selecione o Status:</label>
                            <select name="status_chamado" id="status_chamado_select">
                                <option value="aberto" {% if chamado.status_chamado == 'aberto' %}selected{% endif %}>Aberto</option>
                                <option value="executando" {% if chamado.status_chamado == 'executando' %}selected{% endif %}>Executando</option>
                                <option value="concluido" {% if chamado.status_chamado == 'concluido' %}selected{% endif %}>Concluído</option>
                                <option value="rejeitado" {% if chamado.status_chamado == 'rejeitado' %}selected{% endif %}>Rejeitado</option>
                            </select>
                            <button id="atualizar_status" type="submit">Atualizar Status</button>
                        </form>
                    {% elif user.empresa == chamado.prestadora_servico and user.tipo_usuario != 'cliente' %}
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="status_chamado" value="executando">
                            <button id="executar" type="submit">Executar</button>
                        </form>
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="status_chamado" value="concluido">
                            <button id="concluir" type="submit">Concluir</button>
                        </form>
                    {% elif user.tipo_usuario == 'cliente' %}
                        <p><strong>Status:</strong> <span id="status_chamado">{{ chamado.status_chamado }}</span></p>
                    {% endif %}
                {% else %}
                    {% if user.tipo_usuario == 'admin' %}
                        <form method="post" action="{% url 'contact:atualizar_status_chamado' chamado.id %}">
                            {% csrf_token %}
                            <label for="status_chamado_select">Selecione o Status:</label>
                            <select name="status_chamado" id="status_chamado_select">
                                <option value="aberto" {% if chamado.status_chamado == 'aberto' %}selected{% endif %}>Aberto</option>
                                <option value="executando" {% if chamado.status_chamado == 'executando' %}selected{% endif %}>Executando</option>
                                <option value="concluido" {% if chamado.status_chamado == 'concluido' %}selected{% endif %}>Concluído</option>
                                <option value="rejeitado" {% if chamado.status_chamado == 'rejeitado' %}selected{% endif %}>Rejeitado</option>
                            </select>
                            <button id="atualizar_status" type="submit">Atualizar Status</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
            <div>
                <a class="back-button" href="{% url 'contact:listar_chamados' %}">Voltar</a>
            </div>
        </div>

        <div class="main-content">
            <div>
                <h3>{{ chamado.numero_ordem }} - {{ chamado.titulo }}</h3>
                <p id="informacoes_cliente">{{ chamado.cliente_nome }}</p>
                <p id="cliente_telefone">{{ chamado.cliente_telefone }}</p>
                <p id="cliente_email">{{ chamado.cliente_email }}</p>
            </div>
            <div id="dynamic-content2" class="dynamic-content2">
                <div class="info-block">
                    <h3>Informações do Chamado</h3>
                    <p><strong>Número da Ordem:</strong> {{ chamado.numero_ordem }}</p>
                    <p><strong>Título:</strong> {{ chamado.titulo }}</p>
                    <p><strong>Descrição:</strong> {{ chamado.descricao }}</p>
                    <p><strong>Tipo de Manutenção:</strong> {{ chamado.get_tipo_manutencao_display }}</p>
                    <p><strong>Localização da Atividade:</strong> {{ chamado.get_localizacao_atv_display }}</p>
                    <p><strong>Prioridade do Chamado:</strong> {{ chamado.get_prioridade_chamado_display }}</p>
                    
                    {% if chamado.area_chamado %}
                    <p><strong>Área do Chamado:</strong> {{ chamado.area_chamado.nome }}</p>
                    {% endif %}
                    
                    {% if chamado.tarefa %}
                    <p><strong>Tarefa:</strong> {{ chamado.tarefa.descricao }}</p>
                    {% endif %}
                    
                    <p><strong>Local Específico:</strong> {{ chamado.local_especifico }}</p>
                    <p><strong>Data de Criação:</strong> {{ chamado.data_criacao }}</p>
                    <p><strong>Data de Início da Atividade:</strong> {{ chamado.data_inicio_atv }}</p>
                    <p><strong>Data de Fim da Atividade:</strong> {{ chamado.data_fim_atv }}</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function loadContent(url) {
                $.get(url, function(data) {
                    $('#dynamic-content2').html(data);
                    initializeFormsAndLinks();
                });
            }
            function initializeFormsAndLinks() {
                $('#dynamic-content2 a').on('click', function(e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    loadContent(url);
                });
            }

            $('#chat').on('click', function() {
                loadContent("{% url 'contact:load_chat' chamado.id %}");
            });

            $('#informacao_chamado').on('click', function() {
                loadContent("{% url 'contact:load_informacao_chamado' chamado.id %}");
            });

            $('#tarefas_a_realizar').on('click', function() {
                loadContent("{% url 'contact:load_tarefas_a_realizar' chamado.id %}");
            });

            $('#config_chamado').on('click',function(){
                loadContent("{% url 'contact:adicionar_prestadora_servico' chamado.id %}");
            });
            
            initializeFormsAndLinks();
        });
    </script>
</body>
</html>
